// Branding Colors
$black: #000000;
$white: #FFFFFF;
$red: #FF2C55;
$blue: #027AFF;
$grey: #F1F6FB;
$purple: #6331EE;

// App Colors
$background-color: #FFFFFF;
$text-color: #000000;

// App Buttons
$primary: #FE3958;
$secondary: #FFFFFF;
